	  
body{	  
background-color: #b3e7ff;
margin: 0;
padding: 0;
}

#container{
        margin: 0 auto;
		width: 1200px;
		padding: 0;
}

	  #table {	
 position: fixed;
   z-index: 1;
}
	  
table, th, td {
  border: 1px solid #b3e7ff;
  border-collapse: collapse;
}

th, td {
  background-color: #273746;
}
tr {
	                font-family: Georgia, Serif; 
					text-align: center; 
					color: #FDFEFE; 
}
#table2{
	width:300px;
	height: 40px;
	position:absolute; 
	left:900px;
}
				a:link, a:visited{
				color: #FDFEFE;
				text-decoration: none;
				}
				a:hover {
				color: #FDFEFE;
				text-decoration: none;
				font-size: 120%;
				font-weight:bold;
				}
				a:active {
				color: #FDFEFE;
				text-decoration: none;
				font-size: 140%;
				font-weight:bolder;
				}
				th:hover{
				background-color: #000033;
				text-decoration: none;
				}
				#home:hover{
				background: url('../images/home.png') no-repeat -337px -23px;
	width: 225px;
	height: 179px;
	zoom: 0.35;
}
#home:active{
background: url('../images/home.png') no-repeat -647px -23px;
	width: 225px;
	height: 179px;	
}
#a:hover{
				background: url('../images/icon.png') no-repeat -7px -177px;
	width: 157px;
	height: 157px;
	zoom: 0.35;
				}
				#b:hover{
				background: url('../images/icon.png') no-repeat -326px -179px;
	width: 153px;
	height: 153px;
	zoom: 0.35;
				}
				#c:hover{
				background: url('../images/icon.png') no-repeat -8px -340px;
	width: 154px;
	height: 154px;
	zoom: 0.35;
				}


#home{
	background: url('../images/home.png') no-repeat -48px -24px;
	width: 232px;
	height: 184px;
	zoom: 0.35;
}
#a {
background: url('../images/icon.png') no-repeat -7px -7px;
	width: 156px;
	height: 156px;
	zoom: 0.35;
}

#b {
background: url('../images/icon.png') no-repeat -214px -17px;
	width: 153px;
	height: 153px;
	zoom: 0.35;
}

#c {
background: url('../images/icon.png') no-repeat -200px -340px;
	width: 154px;
	height: 154px;
	zoom: 0.35;
}
p, h1, li, th, h5{
font-family: Verdana, Helvetica, Arial;
}
header:nth-of-type(1) {
width: 1200px;
margin: 0 auto;
padding-top:60px;
clear: left;
 }
 
figure:nth-of-type(1) {
margin: 0;
width: 500px;
height: 100px;
margin: 0 auto;
float: left;
 }
 
figure:nth-of-type(2) {
margin: 0;
width: 200px;
float: left;
 }
 
figure:nth-of-type(3) {
margin: 0;
width: 500px;
float: left;
 }
 figure:nth-of-type(4){
width: 400px;
margin: 0 auto;
padding: 30px;
float: left;
animation: pic 1s linear infinite alternate;
animation-timing-function: ease-in-out;
 }
 
 figure:nth-of-type(5){
width: 400px;
margin: 0 auto;
padding: 30px;
float: left;
animation: pic 1s linear infinite alternate;
animation-timing-function: ease-in-out;
 }
 
 @keyframes pic {

  0%  {transform: rotateZ(3deg);}
  100% {transform: rotateZ(-3deg);}
}
 
header:nth-of-type(2){
width: 1200px;
margin: 0 auto;
padding: 30px, 0px;
float: left;
clear: left;
background-color: #66ccff;
 }
 
header:nth-of-type(3){
width: 600px;
height: 600px;
margin: 0 auto;
padding: 30px;
float: left;
clear: left;
background-color: #1ab2ff;
 }
 

 
header:nth-of-type(4){
width: 600px;
height: 600px;
margin: 0 auto;
padding: 30px;
float: left;
clear: left;
background-color: #66ccff;
 }
 
figure:nth-of-type(5){
width: 400px;
margin: 0 auto;
padding: 30px;
float: left;
 }
 
header:nth-of-type(5){
width: 1200px;
margin: 0 auto;
padding: 30px, 0px;
float: left;
clear: left;
background-color: #1ab2ff;
 }
 
header:nth-of-type(6){
width: 1200px;
margin: 0 auto;
padding: 30px;
float: left;
clear: left;
 }
figure:nth-of-type(6) {
margin: 0;
width: 700px;
float: left;
 }
 
figure:nth-of-type(7) {
margin: 0;
width: 200px;
float: left;
 }
 
figure:nth-of-type(8) {
margin: 0;
width: 200px;
float: left;
 }
 
footer {
 clear: both;
 background: #273746;
 color: white;
 padding: 10px;
 }